[project]
	description = \"integration_simulators_dc_simulator\"
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group ldap/onap-gerrit-integration-simulators-dc-simulator-committers
	owner = group saml/onap-gerrit-integration-simulators-dc-simulator-committers
	read = group GitHub Replication
